/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

main {
	flex-grow: 1;
}

section {
	margin: 50px 0
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.modal-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	z-index: 1;
	width: 630px;
	height: 688px;
	padding: 45px;
	background-color: #FFF;
	border-radius: 60px;
	animation-name: animOpenModal;
	animation-duration: 300ms;
	animation-fill-mode: both;
	overflow: hidden;
}

@keyframes animOpenModal {
	from {
		transform: translateX(200vw);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 100;
	}
}

.modal-wrapper-edit {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: inherit;
}

.modal-wrapper .exit-cross {
	z-index: 2;
	position: absolute;
	top: 40px;
	right: 40px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.modal-wrapper h3 {
	font-family: Work Sans;
	font-size: 26px;
	margin: 46px 0;
}

.modal-wrapper-edit[display=null] {
	animation-name: modalSlideLeft;
	animation-duration: 300ms;
	animation-fill-mode: both;
}

@keyframes modalSlideLeft {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-200vw);
	}
}


.modal-wrapper-edit .edit-gallery {
	border-bottom: 1px solid #B3B3B3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 6px;
	row-gap: 15px;
	flex-grow: 1;
}

.modal-wrapper-edit .edit-gallery img {
	width: 100px;
}

.modal-wrapper-edit .edit-gallery .work-edit {
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
}

.modal-wrapper-edit .edit-gallery .delete-btn {
	position: absolute;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 14px;
	height: 14px;
	font-size: 11px;
	border-radius: 2px;
	top: 5px;
	right: 5px;
	padding: 4px;
	margin: 0;
}

.modal-wrapper .modal-btn {
	cursor: pointer;
	margin-top: 38px;
	width: 50%;
	height: 36px;
	border: none;
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
}

.modal-wrapper .disabled {
	cursor: default;
	background-color: #A7A7A7;
	pointer-events: none;
}

.modal-wrapper-form {
	position: relative;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation-name: animOpenModal;
	animation-duration: 300ms;
	animation-fill-mode: both;
}

.modal-wrapper-form[display=null] {
	animation-name: modalSlideRight;
	animation-duration: 300ms;
	animation-fill-mode: both;
}

@keyframes modalSlideRight {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(200vw);
	}
}

.modal-wrapper-form form {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #B3B3B3;
}

.modal-wrapper-form label {
	box-sizing: border-box;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	margin-top: 21px;
}

.modal-wrapper-form .pic-btn {
	padding: 10px 33px;
	align-self: center;
	border-radius: 50px;
	background: #CBD6DC;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	color: #306685;
	text-align: center;
	align-self: center;
	margin-bottom: 7px;
}

.modal-wrapper-form input:not([type="file"]),
select {
	width: 420px;
	height: 51px;
	margin-top: 10px;
	border: none;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	color: #444;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.picture-add-block {
	position: relative;
	min-height: 169px;
	width: 420px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 10px;
	padding: 10px;
	margin-top: 36px;
	margin-bottom: 30px;
}


.picture-add-block img{
	display: flex;
	width: 129px;
	height: auto;
	position: relative;
	top: 0px;
}

.modal-wrapper-form .arrow-left {
	position: absolute;
	top: 0;
	left: 0;
	height: 21px;
	width: 21px;
	cursor: pointer;
}

.picture-add-block svg {
	width: 76px;
	height: 76px;
	fill: #B9C5CC;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: #000;
}

.login-page--active {
	font-weight: bold;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-right: 20px;
}

.portfolio__header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.portfolio__header p {
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
}

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-btn {
	cursor: pointer;
	font-family: Syne;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	text-align: center;
	padding: 5px 20px;
	margin-right: 10px;
	border-radius: 60px;
	border: 1px solid #1D6154;
}

.filter-btn-active {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.login-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-block h1 {
	margin-bottom: 60px;
	font-size: 30px;
	font-style: normal;
	color: #1D6154;
	font-weight: 700;
}

.login-block form {
	display: flex;
	flex-direction: column;
}

.login-block form label {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 7px;
}

.login-block form input {
	width: 369px;
	height: 40px;
	padding: 10px 20px;
	margin-bottom: 30px;
	font-size: 14px;
	background: #FFF;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.login-block form button {
	align-self: center;
	width: 179px;
	height: 36px;
	color: #FFF;
	font-size: 14px;
	border: none;
	border-radius: 60px;
	background: #1D6154;
	margin-top: 10px;
	margin-bottom: 28px;
}

.login-block a {
	text-decoration: underline;
	color: #1D6154;
}

.login-block .err-message {
	justify-self: center;
	font-size: 12px;
	font-weight: bold;
	color: red;
	margin-bottom: 10px;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}